* {
  font-family: "SpaceMono Nerd Font Mono";
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 0;
  transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
}

window#waybar {
  background: transparent;
  color: #e4e1e9;
  padding: 0px 70px 0px 10px;
}

.modules-left,
.modules-center,
.modules-right {
  background: #131318;
  border: 1px solid #918f9a;
  margin: 5px 0;
  padding: 0px 12px;
  border-radius: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
}

#clock {
  color: #e4e1e9;
  min-width: 150px;
}

#workspaces button {
  color: #c7c5d0;
  border-radius: 8px;
  padding: 0 8px;
  margin: 2px 2px;
}
#workspaces button:hover {
  background: #2a292f;
}
#workspaces button.active {
  background: #bfc2ff;
  color: #272b60;
  font-weight: 800;
}

#network,
#battery,
#memory,
#cpu {
  color: #e4e1e9;
  padding: 0 6px;
}

#custom-media-prev,
#custom-media-playpause,
#custom-media-next,
#custom-clipboard,
#custom-nixos,
#custom-turnoff {
  color: #e4e1e9;
  padding: 0 8px;
}

#pulseaudio-slider {
  min-width: 100px;
  border-radius: 12px;
  background-color: transparent;
}
#pulseaudio-slider slider {
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  background-color: #bfc2ff;
}
#pulseaudio-slider highlight {
  min-height: 5px;
  border-radius: 4px 0 0 4px;
  background-color: #bfc2ff;
}
#pulseaudio-slider trough {
  min-height: 5px;
  border-radius: 4px;
  background-color: #2a292f;
}
