* {
  font-family: "SpaceMono Nerd Font Mono";
  font-size: 15px;
  background-image: none;
  transition: all 0.2s ease-in-out;
}

window {
  background-color: rgba(0, 0, 0, 0.85);
}

button {
  color: #e4e1e9;
  background-color: #1f1f25;
  border: 1px solid #918f9a;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  margin: 80px 40px;
  padding: 40px 0;

  background-repeat: no-repeat;
  background-position: center;
}

button:focus,
button:active,
button:hover {
  background-color: #bfc2ff;
  color: #272b60;
  border: 1px solid #bfc2ff;
  outline-style: none;
}
