CommitMono Nerd Fon* {
  font-family: "CommitMono Nerd Font";
  font-size: 15px;
  background-image: none;
  transition: all 0.08s ease-out;
}

window {
  background-color: #1a1b20;
}

button {
  color: #e2e2e9;
  background-color: #1e1f25;
  border: 1px solid #8f9099;
  border-radius: 16px;
  box-shadow: 0 8px 20px #000000;

  margin: 80px 40px;
  padding: 40px 0;

  background-repeat: no-repeat;
  background-position: center;
}

button:focus,
button:active,
button:hover {
  background: linear-gradient(135deg, #b0c6ff, #e0bbdd);
  color: #152e60;
  border: 1px solid #b0c6ff;
  outline-style: none;
}
